html, body {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;
	padding-bottom: 6rem;
	min-height: 100%;
	/*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 15px;
	line-height: 1.6;
	background-color: gray;
	font-variant: normal;
}

#particles-js {
	width: 100%;
	height: 100%;
	background-color: #1d1f1e;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: fixed;
	z-index: -1;
}

.square-active {
	background-color: #de3404;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
}

.square {
	height: 15px;
	width: 15px;
	background-color: #d8e0e3;
	border-radius: 50%;
	display: inline-block;
}

.edu-details {
	padding-left: 1.5rem;
}

.edu-details h4 {
	font-size: 1.2rem;
}

.social-bar {
	margin-right: -15px;
	margin-left: -15px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

img {
	max-width: 100%;
}

div {
	padding: 5px;
}

/* Style for Navigation bar items - About, Education etc., */

.fas {
	font-size: 3.5rem;
}

/* Styling for Social Media Buttons - Gmail, LInkedin and Github Icons*/

.social {
	color: white;
	font-size: 42px;
}

.social:hover {
	color: yellow;
	transition: 0.5s;
}

.profile-details {
	padding-left: inherit;
	position: relative;
}

.nav a {
	color: white;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

/*Background-Colors*/

.nav-item {
	border: none;
	/*background-color: #de3404;*/
	/*background-color: rgba(222, 52, 4, 0.7);*/
	border-radius: 1em;
}

.main-content {
	margin: auto;
	background-color: rgba(222, 52, 4, 0.7);
	box-sizing: border-box;
	border-radius: 1em;
	max-width: 100%;
}

.coral {
	background-color: rgba(222, 52, 4, 0.7);
	border-bottom: 3px solid;
	align-items: center;
	margin: auto;
	max-width: 100%;
	box-sizing: border-box;
	border-radius: 1em;
}

.nav-item a:active {
	color: yellow;
}

.nav-item a:focus {
	color: yellow;
}

/*
.nav-item a:hover {
	opacity: 0.8;
}
*/

.badge-secondary {
	color: #fff;
	background-color: #575d63;
}

/*
.education-table th, td {
	padding: 15px;
}
*/

td {
	padding: 10px;
}

.quote {
	border: solid;
	border-color: white;
	border-width: 3px;
}

.tab-content {
	border: 1px solid #ccc;
}

.tab-content:hover, .profile-pic:hover {
	box-shadow: 0 0 41px rgba(241, 247, 176, 0.4);
}

.education-table td, th {
	word-break: break-all;
}

.progress {
	background-color: #d7e2ec;
	padding: 1px;
	border-radius: 15px;
}

.progress-bar {
	background-color: #de3404;
	border-radius: 15px;
}

.projects {
	color: grey;
	font-size: 23px;
}

.projects:hover {
	color: black;
}

.second-div {
	color: black;
}

#certifications i {
	font-size: 38px;
	color: grey;
}

#certifications i:hover {
	color: #de3404;
}

.side-line {
	border-left: 3px solid #de3404;
	background-color: #f7fcf9;
}

.edu-timeline {
	color: #de3404;
	float: right;
	font-size: 1rem;
}

.edu-details h5 {
	font-size: 16px;
	color: #737373;
	line-height: 1.4;
	font-weight: normal;
}

.work-timeline {
	color: #de3404;
	float: right;
	font-size: 18px;
}

.work-designation {
	font-size: 18px;
	color: #737373;
	line-height: 1.4;
	font-weight: bold;
}

.work-title {
	font-size: 20px;
	color: #de3404;
	border-bottom: 1px solid #de3404;
	padding-bottom: 8px;
}

.footer-links {
	color: white;
}

.footer-links:hover {
	color: yellow;
}

.projects-table h5 {
	border-bottom: 1px solid #de3404;
	padding-bottom: 5px;
}

.coding_profiles {
	color: blue;
	/*text-decoration: underline;*/
	cursor: pointer;
}

.badge-info {
	background-color: #de3404;
	font-size: 85%;
}

::selection {
	background: rgb(240, 161, 133);
}

.view_resume a {
	color: white;
	font-weight: 600;
}

.view_resume i {
	font-size: 1.2rem;
}

.view_resume a:hover {
	text-decoration: none;
	color: yellow;
}

.work_experience {
	padding-left: 1.2rem;
}

.projects-table ul {
	padding-left: 1.6rem;
	padding: 10px;
}

.professional_caption {
        color: white;
        font-weight: 600;
}


@media only screen and (max-width: 600px) {
	.social_btns {
		margin: none;
	}
	.profile-details {
		margin-top: 5px;
		text-align: center;
	}
	.coral {
		width: 100%;
		padding: none;
	}
}
